.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.the-end{
    background-color:#FFF8F3;
    max-width: 1600px;
    margin: 0 auto;

}
.end {
    display: flex;
    gap: 117px;
    padding: 130px;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    
}
footer .connect-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
footer .connect-para {
    font-size: 16px;
    font-weight: normal;
    color: #474747;
    margin-bottom: 30px;
    max-width: 562px;
}
.container{
    display: flex;
    gap: 24px;
}
footer .concert-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-bottom: 28px;
}
.form input[type="text"], .form textarea{
    padding: 18px 30px;
    width: 464px;
    margin-bottom: 24px;
    color: #757575;
    border: none;
    border-radius: 10px;
}
.submit{
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 7px;
    
}